@using ToyUniverseData.Models;
@using ToyUniverseWeb.Models;
@using ToyUniverseWeb.Extensions
@using Microsoft.AspNetCore.Http

@{
    ViewBag.Title = "Cart";
    
    List<ShoppingCart> cart = Context.Session.GetObject<List<ShoppingCart>>("cart");
    var total = cart.Sum(item => @item.CToy.MToyRate * @item.SiQty).ToString("C2");
}

<h3>Cart Page</h3>
@if (cart.Count() != 0)
{
    <table>
        <tr>
            <th style="text-align:center">Id</th>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Description</th>
            <th style="text-align:center">Price</th>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:center" width= "80px">Sub Total</th>
        </tr>
        @foreach (ShoppingCart item in @Context.Session.GetObject<List<ShoppingCart>>("cart"))
        {
            <tr>
                <td style="text-align:center">@item.CToy.CToyId</td>
                <td style="text-align:center">@item.CToy.VToyName</td>
                <td style="text-align:center">@item.CToy.VToyDescription</td>
                <td style="text-align:center">@item.CToy.MToyRate.ToString("C2")</td>
                <td style="text-align:center">@item.SiQty</td>
                <td style="text-align:center">@(item.CToy.MToyRate * item.SiQty)</td>
                <td style="text-align:center"><a href="@Url.Action("Remove", "Cart", new { id = item.CToy.CToyId })">Remove</a></td>
            </tr>
        }
        <tr>
            <td colspan="6" style="text-align:right">Grand Total: @total</td>
        </tr>
    </table>

    <br>
    <a href="@Url.Action("Index", "Toy")">Shop Again</a>
    <br />
}
else
{
    <h2>Cart is Empty</h2>
}