@using ToyUniverseData.Models;
@using ToyUniverseWeb.Models;

@model PagedResult<Toy>;

<h4>Toys</h4>
<hr />
<form asp-action="Index" asp-controller="Toy" method="post">
    <table>
        <tr>
            <th style="text-align:center">ID</th>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Description</th>
            <th style="text-align:center">Price</th>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:center">Options</th>
        </tr>
        @foreach (var toy in Model.Results)
        {
            <tr>
                <td style="text-align:center" scope="row">@toy.CToyId</td>
                <td style="text-align:center">@toy.VToyName</td>
                <td style="text-align:center">@toy.VToyDescription</td>
                <td style="text-align:center">@toy.MToyRate.ToString("C2")</td>
                <td style="text-align:center">@toy.SiToyQoh</td>
                <td style="text-align:center">
                @*@Html.ActionLink("Details", "Details", new { id=toy.CToyId,  }) |*@
                <a href="@Url.Action("Add", "Cart", new { id = toy.CToyId })">Buy</a>
            </td>
            </tr>
        }
    </table>
    <br />

    <nav>
        <ul class="pagination">
            @for (int pageIndex = 1; pageIndex <= Model.PageCount; pageIndex++)
            {

                @if (pageIndex != Model.CurrentPage)
                {

                    <li class="page-item"><a class="page-link" href="javascript:pagerClick(@pageIndex);">@pageIndex</a></li>
                }
                else
                {
                    <li class="page-item active">
                        <a class="page-link" href="#">@pageIndex <span class="sr-only">(current)</span></a>
                    </li>
                }

            }
        </ul>
    </nav>
    <input type="hidden" id="currentPageIndex" name="currentPageIndex" />
</form>
<script type="text/javascript">
    function pagerClick(index) {
        document.getElementById("currentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>